aa79bDatos/backend/file/META-INF/wsdl/X43FNSHF2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.ejie.x43f/X43FNSHF/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:x43f="http://com.ejie.x43f/X43FNSHF/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ejgvDocument">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="header" type="x43f:header"/>
      <xs:element maxOccurs="1" minOccurs="1" name="body" type="x43f:body"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="header">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="type" type="xs:string">
        <xs:annotation>
          <xs:documentation>Para firmas XAdES, su
                        valor es "xades".             Para
                        firmas PKCS7 su valor es
                        "COMPLETE_SIGNATURE"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="placement" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="format" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="isConservable" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="isIdazkiDesktop" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="documentIsRequired" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="version" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="flags" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="tsaSerialNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="body">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="sign" type="xs:string">
        <xs:annotation>
          <xs:documentation>Este campo es para las firmas XAdES</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="simpleSignature" type="xs:string">
        <xs:annotation>
          <xs:documentation>Este campo es para firmas
                        completas PKCS7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="signatureTimestamp" type="xs:string">
        <xs:annotation>
          <xs:documentation>Este campo es para firmas
                        completas PKCS7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="signerCertificateRevocationStatus" type="xs:string">
        <xs:annotation>
          <xs:documentation>Este campo es para firmas
                        completas PKCS7</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejgvDocumentType">
    <xs:sequence>
      <xs:element name="ejgvDocument" type="x43f:ejgvDocument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificationResultType">
    <xs:sequence>
      <xs:element name="verificationResult" type="x43f:verificationResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificationResult">
    <xs:sequence>
      <xs:element name="isSuccessResult" type="xs:string"/>
      <xs:element name="resultMajor" type="xs:string"/>
      <xs:element name="resultMinor" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="resultMessage" type="xs:string"/>
      <xs:element name="signingTime" type="xs:string"/>
      <xs:element name="format" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="tsaSerialNumber" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="signCertificates" type="x43f:signCertificatesType"/>
      <xs:element name="signatureFormat" type="xs:string"/>
      <xs:element name="signatureType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signCertificateType">
    <xs:sequence>
      <xs:element minOccurs="0" name="policy" type="xs:string"/>
      <xs:element minOccurs="0" name="cn" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo" type="xs:string"/>
      <xs:element minOccurs="0" name="subject" type="xs:string"/>
      <xs:element minOccurs="0" name="issuer" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="serialNumber" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="validezDesde" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="validezHasta" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="suscriptor" type="x43f:suscriptorType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="entidad" type="x43f:entidadType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="fechaFirma" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="firmaCualificada" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="tsl" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="suscriptorType">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="apellidos" type="xs:string"/>
      <xs:element minOccurs="0" name="apellido1" type="xs:string"/>
      <xs:element minOccurs="0" name="apellido2" type="xs:string"/>
      <xs:element minOccurs="0" name="dni" type="xs:string"/>
      <xs:element minOccurs="0" name="cif" type="xs:string"/>
      <xs:element minOccurs="0" name="razonSocial" type="xs:string"/>
      <xs:element minOccurs="0" name="cargo" type="xs:string"/>
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="fechaNacimiento" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="email" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="tis" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="nip" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="entidadType">
    <xs:sequence>
      <xs:element minOccurs="0" name="razonSocial" type="xs:string"/>
      <xs:element minOccurs="0" name="cif" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="representante" type="x43f:representanteType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="representanteType">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="apellidos" type="xs:string"/>
      <xs:element minOccurs="0" name="nombreCompleto" type="xs:string"/>
      <xs:element minOccurs="0" name="dni" type="xs:string"/>
      <xs:element minOccurs="0" name="cargo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signCertificatesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="signCertificate" type="x43f:signCertificateType"/>
    </xs:sequence>
  </xs:complexType>
  <!--@method: createHashLocation-->
  <xs:element name="createHashLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="documentLocation" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createHashLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createHashLocationResult" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--@method: verifyCertificateLocation-->
  <xs:element name="verifyCertificateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="certificateLocation" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifyCertificateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="verifyCertificateLocationResult" type="x43f:verificationResultType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--@method: stampAdESSignatureLocation-->
  <xs:element name="stampAdESSignatureLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="signature" type="x43f:ejgvDocumentType"/>
        <xs:element maxOccurs="1" minOccurs="1" name="documentLocation" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stampAdESSignatureLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="stampAdESSignatureLocationResult" type="x43f:ejgvDocumentType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--@method: stampAdESSignatureLocation-->
  <xs:element name="stampSignatureLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="signatureLocation" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="documentLocation" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="appDest" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stampSignatureLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="stampSignatureLocationResult" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--@method: verifySignatureLocation-->
  <xs:element name="verifySignatureLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="signatureLocation" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="documentLocation" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verifySignatureLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="verifySignatureLocationResult" type="x43f:verificationResultType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--@method: createEjgvDocumentFromXmlLocation-->
  <xs:element name="createEjgvDocumentFromXmlLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="computableXMLLocation" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="templateXSLLocation" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="appDest" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createEjgvDocumentFromXmlLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createEjgvDocumentFromXmlLocationResult" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--@method: createEjgvDocumentFromHtmlLocation-->
  <xs:element name="createEjgvDocumentFromHtmlLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="computableXMLLocation" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="htmlDocumentLocation" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="appDest" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createEjgvDocumentFromHtmlLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createEjgvDocumentFromHtmlLocationResult" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--//TODO cambiar xs:enumeration value="pdf"/> por xs:enumeration value="pades"/>-->
  <xs:simpleType name="profileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="xades"/>
      <xs:enumeration value="pdf"/>
      <xs:enumeration value="pades"/>
      <xs:enumeration value="cades"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="placementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="detached"/>
      <xs:enumeration value="enveloped"/>
      <xs:enumeration value="enveloping"/>
      <xs:enumeration value="idetached"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="inputOptions">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="profile" type="x43f:profileType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="placement" type="x43f:placementType"/>
      <xs:element maxOccurs="1" minOccurs="1" name="certificateId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inputDocument">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="documentContent" type="xs:base64Binary"/>
      <xs:element maxOccurs="1" minOccurs="0" name="documentLocation" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="documentHash" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="documentHashAlg" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="inputRefUri" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!--@method: createSignatureLocation-->
  <xs:element name="createSignatureLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="inputOptions" type="x43f:inputOptions"/>
        <xs:element maxOccurs="1" minOccurs="1" name="documentLocation" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="appDest" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createSignatureLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="createSignatureLocationResult" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--@method: updateSignatureLocation-->
  <xs:element name="updateSignatureLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="signatureLocation" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="documentLocation" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="appDest" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSignatureLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="updateSignatureLocationResult" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--@method: createSignatureEjgvDocument-->
  <xs:element name="createSignatureEjgvDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="tipoFirma" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="signatureLocation" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="appDest" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createSignatureEjgvDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createSignatureEjgvDocumentResult" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>